In [27]:
from Update_Scores import Tournament

In [28]:
EC2024 = Tournament('EC')

team_table = EC2024.team_table.set_index('Team').sort_values(['PNT', 'GD'], ascending=False)

person_table = EC2024.team_table.drop(columns='Team').groupby('Who').sum().sort_values(['PNT', 'GD'], ascending=False)

In [29]:
df = EC2024.fixtures.drop(columns='Special')

df

,Date,KO,Home person,Home team,Home score,Away score,Away team,Away person,Round,Status
0,2024-06-14,19:00,Mary,Germany,5,1,Scotland,Brendan,Group stage,Finished
1,2024-06-15,13:00,Sam,Hungary,1,3,Switzerland,Hugo,Group stage,Finished
2,2024-06-15,16:00,Brendan,Spain,3,0,Croatia,Adrian,Group stage,Finished
3,2024-06-15,19:00,Isaac,Italy,2,1,Albania,Scott,Group stage,Finished
4,2024-06-16,13:00,Mary,Poland,1,2,Netherlands,Alex,Group stage,Finished
5,2024-06-16,16:00,Isaac,Slovenia,1,1,Denmark,Scott,Group stage,Finished
6,2024-06-16,19:00,Alex,Serbia,0,1,England,Hugo,Group stage,Finished
7,2024-06-17,13:00,Adrian,Romania,3,0,Ukraine,Brendan,Group stage,Finished
8,2024-06-17,16:00,Sam,Belgium,0,1,Slovakia,Hugo,Group stage,Finished
9,2024-06-17,19:00,Isaac,Austria,0,1,France,Adrian,Group stage,Finished
10,2024-06-18,16:00,Mary,Turkey,3,1,Georgia,Alex,Group stage,Finished
11,2024-06-18,19:00,Scott,Portugal,2,1,Czechia,Sam,Group stage,Finished
12,2024-06-19,13:00,Adrian,Croatia,2,2,Albania,Scott,Group stage,Finished
13,2024-06-19,16:00,Mary,Germany,2,0,Hungary,Sam,Group stage,Finished
14,2024-06-19,19:00,Brendan,Scotland,1,1,Switzerland,Hugo,Group stage,Finished
15,2024-06-20,13:00,Isaac,Slovenia,1,1,Serbia,Alex,Group stage,Finished
16,2024-06-20,16:00,Scott,Denmark,1,1,England,Hugo,Group stage,Finished
17,2024-06-20,19:00,Brendan,Spain,1,0,Italy,Isaac,Group stage,Finished
18,2024-06-21,13:00,Hugo,Slovakia,1,2,Ukraine,Brendan,Group stage,Finished
19,2024-06-21,16:00,Mary,Poland,1,3,Austria,Isaac,Group stage,Finished
20,2024-06-21,19:00,Alex,Netherlands,0,0,France,Adrian,Group stage,Finished
21,2024-06-22,13:00,Alex,Georgia,1,1,Czechia,Sam,Group stage,Finished
22,2024-06-22,16:00,Mary,Turkey,0,3,Portugal,Scott,Group stage,Finished
23,2024-06-22,19:00,Sam,Belgium,2,0,Romania,Adrian,Group stage,Finished
24,2024-06-23,19:00,Brendan,Scotland,0,1,Hungary,Sam,Group stage,Finished
25,2024-06-23,19:00,Hugo,Switzerland,1,1,Germany,Mary,Group stage,Finished
26,2024-06-24,19:00,Scott,Albania,0,1,Spain,Brendan,Group stage,Finished
27,2024-06-24,19:00,Adrian,Croatia,1,1,Italy,Isaac,Group stage,Finished
28,2024-06-25,16:00,Adrian,France,1,1,Poland,Mary,Group stage,Finished
29,2024-06-25,16:00,Alex,Netherlands,2,3,Austria,Isaac,Group stage,Finished
30,2024-06-25,19:00,Scott,Denmark,0,0,Serbia,Alex,Group stage,Finished
31,2024-06-25,19:00,Hugo,England,0,0,Slovenia,Isaac,Group stage,Finished
32,2024-06-26,16:00,Brendan,Ukraine,0,0,Belgium,Sam,Group stage,Finished
33,2024-06-26,16:00,Hugo,Slovakia,1,1,Romania,Adrian,Group stage,Finished
34,2024-06-26,19:00,Sam,Czechia,1,2,Turkey,Mary,Group stage,Finished
35,2024-06-26,19:00,Alex,Georgia,2,0,Portugal,Scott,Group stage,Finished
36,2024-06-29,16:00,Hugo,Switzerland,2,0,Italy,Isaac,Last 16,Finished
37,2024-06-29,19:00,Mary,Germany,2,0,Denmark,Scott,Last 16,Finished
38,2024-06-30,16:00,Hugo,England,1,1,Slovakia,Hugo,Last 16,NaN
39,2024-06-30,19:00,Brendan,Spain,None,None,Georgia,Alex,Last 16,Future
40,2024-07-01,16:00,Adrian,France,None,None,Belgium,Sam,Last 16,Future
41,2024-07-01,19:00,Scott,Portugal,None,None,Slovenia,Isaac,Last 16,Future
42,2024-07-02,16:00,Adrian,Romania,None,None,Netherlands,Alex,Last 16,Future
43,2024-07-02,19:00,Isaac,Austria,None,None,Turkey,Mary,Last 16,Future
44,2024-07-05,16:00,NaN,None,None,None,Germany,Mary,Quarter finals,Future
45,2024-07-06,16:00,NaN,None,None,None,Switzerland,Hugo,Quarter finals,Future

In [30]:
team_table

            PL  W  D  L  GD  GS PNT      Who
Team
Germany      4  3  1  0   8  10  10     Mary
Spain        3  3  0  0   5   5   9  Brendan
Switzerland  4  2  2  0   4   7   8     Hugo
Austria      3  2  0  1   2   6   6    Isaac
Portugal     3  2  0  1   2   5   6    Scott
Turkey       3  2  0  1   0   5   6     Mary
France       3  1  2  0   1   2   5   Adrian
England      3  1  2  0   1   2   5     Hugo
Romania      3  1  1  1   1   4   4   Adrian
Belgium      3  1  1  1   1   2   4      Sam
Netherlands  3  1  1  1   0   4   4     Alex
Georgia      3  1  1  1   0   4   4     Alex
Slovakia     3  1  1  1   0   3   4     Hugo
Ukraine      3  1  1  1  -2   2   4  Brendan
Italy        4  1  1  2  -2   3   4    Isaac
Slovenia     3  0  3  0   0   2   3    Isaac
Denmark      4  0  3  1  -2   2   3    Scott
Hungary      3  1  0  2  -3   2   3      Sam
Serbia       3  0  2  1  -1   1   2     Alex
Croatia      3  0  2  1  -3   3   2   Adrian
Czechia      3  0  1  2  -2   3   1      Sam
Albania      3  0  1  2  -2   3   1    Scott
Poland       3  0  1  2  -3   3   1     Mary
Scotland     3  0  1  2  -5   2   1  Brendan

In [31]:
person_table

         PL  W  D  L  GD  GS PNT
Who
Hugo     10  4  5  1   5  12  17
Mary     10  5  2  3   5  18  17
Brendan   9  4  2  3  -2   9  14
Isaac    10  3  4  3   0  11  13
Adrian    9  2  5  2  -1   9  11
Alex      9  2  4  3  -1   9  10
Scott    10  2  4  4  -2  10  10
Sam       9  2  2  5  -4   7   8

In [32]:
EC2024.fixtures.columns

Index(['Date', 'KO', 'Home person', 'Home team', 'Home score', 'Away score',
       'Away team', 'Away person', 'Round', 'Special', 'Status'],
      dtype='object')

In [2]:
import pandas as pd

In [5]:
with open("assets/last_updated.txt", 'w') as the_file:
    the_file.write(str(pd.to_datetime('today').floor('s')))

In [35]:
ndf = df[['Home team','Away team', 'Status']]

df2 = pd.concat([df[['Home team','Status']].rename(columns={'Home team':'Team'}),
                 df[['Away team','Status']].rename(columns={'Away team':'Team'})])

df2 = df2[df2['Status'] != 'Finished'].dropna(how='any', subset='Team').drop(columns='Status')

df2['In'] = 'In'

EC2024.team_table = EC2024.team_table.merge(df2, how='left').fillna('Out')

df2

           Team  In
38      England  In
39        Spain  In
40       France  In
41     Portugal  In
42      Romania  In
43      Austria  In
38     Slovakia  In
39      Georgia  In
40      Belgium  In
41     Slovenia  In
42  Netherlands  In
43       Turkey  In
44      Germany  In
45  Switzerland  In

           Team PL  W  D  L  GD  GS PNT      Who   In
0        France  3  1  2  0   1   2   5   Adrian   In
1       Croatia  3  0  2  1  -3   3   2   Adrian  Out
2       Romania  3  1  1  1   1   4   4   Adrian   In
3   Netherlands  3  1  1  1   0   4   4     Alex   In
4        Serbia  3  0  2  1  -1   1   2     Alex  Out
5       Georgia  3  1  1  1   0   4   4     Alex   In
6         Spain  3  3  0  0   5   5   9  Brendan   In
7       Ukraine  3  1  1  1  -2   2   4  Brendan  Out
8      Scotland  3  0  1  2  -5   2   1  Brendan  Out
9       England  3  1  2  0   1   2   5     Hugo   In
10  Switzerland  4  2  2  0   4   7   8     Hugo   In
11     Slovakia  3  1  1  1   0   3   4     Hugo   In
12        Italy  4  1  1  2  -2   3   4    Isaac  Out
13      Austria  3  2  0  1   2   6   6    Isaac   In
14     Slovenia  3  0  3  0   0   2   3    Isaac   In
15      Germany  4  3  1  0   8  10  10     Mary   In
16       Poland  3  0  1  2  -3   3   1     Mary  Out
17       Turkey  3  2  0  1   0   5   6     Mary   In
18      Belgium  3  1  1  1   1   2   4      Sam   In
19      Hungary  3  1  0  2  -3   2   3      Sam  Out
20      Czechia  3  0  1  2  -2   3   1      Sam  Out
21     Portugal  3  2  0  1   2   5   6    Scott   In
22      Denmark  4  0  3  1  -2   2   3    Scott  Out
23      Albania  3  0  1  2  -2   3   1    Scott  Out